body {
    margin: 0;
    padding: 0;
}

#board {
    width: 100vw;
    height: 100vh;
    background-color: rgb(226, 219, 231);
    position: relative;
    overflow: hidden;
}

#player {
    background-color: rgb(170, 228, 112);
    position: absolute;
}

.enemy {
    position: absolute;
    background-color: blue;
    border-radius: 50%;
    transition: all 0.2s ease;
}

#instructions {
    background-color: black;
    color: white;
    font-size: 1rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    
}

#page-gameover {
    
    background-color: black;
   
}
#page-gameover h1 {
    color: red;
    font-size: 6rem;
    text-align: center;
}

#page-gameover p {
    color: white;
    font-size: 3rem;
    text-align: center;
}

#play-again {

    color: white;
    font-size: 3rem;
    text-align: center;
}

#levelCleared {
    background-color: black;
    color: white;
    font-size: 3rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none; /* Initially hidden */
}

#levelCleared h1 {
    color: orange;
    font-size: 2.5rem;
    text-align: center;
}

#levelDisplay {
    color: black;
    font-size: 3rem;
    text-align: center;
}


